<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.NedraConnectionString" connectionString="Data Source=192.168.1.6\SQLEXPRESS2008K;Initial Catalog=Perftech_Beograd;User ID=sa;Password=duki7990;" providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.webs_baza16ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\webs_baza16.mdb" providerName="System.Data.OleDb" />
    <add name="WindowsFormsApplication1.Properties.Settings.KrsteniceTestConnectionString" connectionString="Data Source=NPSBGNB-95\sqlexpress2012;Initial Catalog=KrsteniceTest;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Saobracaj.Properties.Settings.Perftech_BeogradConnectionString" connectionString="Data Source=192.168.1.6\SQLEXPRESS2008K;Initial Catalog=Perftech_Beograd;User ID=sa;Password=duki7990;" providerName="System.Data.SqlClient" />
    <add name="Saobracaj.Properties.Settings.NedraConnectionString" connectionString="Data Source=192.168.1.6\SQLEXPRESS2008K;Initial Catalog=Perftech_Beograd;User ID=sa;Password=duki7990" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
